.App {
    text-align: center;
    background-color: #fffdf6;
    min-height: 100vh;
    min-width: 100vh;
    color: black;
    font-family: 'Dosis', sans-serif;
}

.App-header {
    height: 10%;
    align-items: baseline;
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
}

.App-title {
    font-size: calc(36px + 2vmin);
    height: 10%;
    display: flex;
    color: #343a40;
}

.App-logo {
    margin-left: 7px;
    height: calc(10px + 3%);
    width: calc(10px + 3%);
}

.App-subheader {
    margin-top: 1%;
}

.App-subheader-text {
    font-size: calc(32px + 2vmin);
}

.App-subheader-switchbutton-english {
    margin-top: 2.5%;
    background-color: #5274cd;
    border: #5274cd;
    border-radius: 5px;
    color: white;
    padding: 7px;
}

.App-subheader-switchbutton-english:hover {
    background-color: #4768bb;
    border: #4768bb;
}

.App-subheader-switchbutton-spanish {
    margin-top: 2.5%;
    background-color: #ff7a41;
    border: #ff7a41;
    border-radius: 5px;
    color: white;
    padding: 7px;
}

.App-subheader-switchbutton-spanish:hover {
    background-color: #ff6d2e;
    border: #ff6d2e;
}

.App-chatbox {
    margin-top: 3%;
    width: 100%;
}

.App-chatbox-card {
    width: 55%;
    margin: auto;
    border: 1px solid black;
    height: 425px;
    border-radius: 20px;
    background-color: white;
}

.App-exitbutton {
    background-color: #e84855;
    border: #e84855;
    margin: 15px;
    border-radius: 5px;
    color: white;
    padding: 5px;
    width: 50px;
}
.App-exitbutton:hover {
    background-color: #db414e;
    border: #db414e;
}

.App-exitbutton-label {
    margin-left: 4px;
}

.justify-right {
    text-align: right;
}

.App-exitbutton-group {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.App-exitbutton-group:hover {
    text-decoration: none;
    color: white;
}

.App-message-box {
    color: black;
    margin: 0px 10px;
    text-align: left;
    height: 290px;
    padding: 10px;
    overflow-y: auto;
    align-items: baseline;
    align-self: flex-end;
    margin-bottom: 5px;
}

.App-message-box-text {
    margin: 25px 0px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(134, 134, 134, 0.61);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.row {
    display: flex;
    margin-left: 0;
    margin-right: 0;
}
.App-message-group {
    margin: 15px 0;
    border-bottom: 1px solid lightgray;
    padding: 5px;
}

.App-textbox {
    border-top: 1px solid black;
    align-items: baseline;
    padding-top: 10px;
    flex-wrap: nowrap;
}

.App-textbox-button-eng {
    background-color: #ff7a41;
    border: #ff7a41;
    border-radius: 5px;
    color: white;
    padding: 5px;
    width: 50px;
    margin-right: 10px;
}

.App-textbox-button-span {
    background-color: #5274cd;
    border: #5274cd;
    border-radius: 5px;
    color: white;
    padding: 5px;
    width: 50px;
    margin-right: 10px;
}

.App-message-box-user-eng {
    color: #ff7a41;
    width: 95px;
}

.App-message-box-user-span {
    color: #5274cd;
    width: 95px;
}

.App-message-box-user-span-1 {
    color: #5274cd;
    width: 85px;
}

.App-message-box-user-eng-1 {
    color: #ff7a41;
    width: 85px;
}

.App-message-box-yuh {
    padding-left: 5px;
}

.App-message-rating {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    margin: 0px 5px;
    cursor: pointer;
    color: #7a7d81;
}

.icon:hover {
    color: #88abff;
}

.reaction {
    margin: 0px 5px;
    color: #505358;
}

.english {
    color: #5274cd;
}

.spanish {
    color: #ff7a41;
}
